*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #606c38;
    color: #fefae0;
    text-align: center;
    padding-top: 20px;
}
h1{
    margin-bottom: 15px;
}
nav{
    background-color: #283618;
    padding: 10px 0;
}
nav ul{
    list-style-type: none;
    text-align: center;
} 
nav ul li{
    display: inline-block;
    margin: 0 50px;
}
nav ul li a{
    text-decoration: none;
    color: #fefae0;
    font-size: 19px;
}
nav a:hover{
    color: #d8ebc1;
}
main{
    display: flex;
    justify-content: space-between;
}
.sec{
    color: #171e0f;
    background-color: #d8ebc1;
    padding: 20px;
    margin: 40px 20px;
    width: 350px;
    margin-top: 40px;
    border: 2px #283618 solid;
}
.sec h2{
    text-align: center;
    margin-bottom: 10px;
}
.sec p{
    line-height: 1.5;
}
.sec ul li{
    line-height: 1.5;
}
.div{
    text-align: center;
    background-color: #d8ebc1;
    border: 1px #283618 solid;
    padding: 20px;
}
.div p{
    padding: 20px;
}
.div button{
    background-color: #283618;
    color: white;
    padding:9px;
}
footer{
    text-align: center;
    background-color: #283618;
    color: #fefae0;
    padding: 20px;
    margin: 20px 0;
    font-size: 19px;
}
footer button{
    background-color: black;
    color: white;
    padding: 7px;
    margin-top: 12px;
}