*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #ffeec0;
}
.navbar{
    background-color:#6F1D1B;
    padding:22px 0;
}
.navbar ul{
    text-align: center;
    background-color:#6F1D1B;
}
.navbar ul li{
    display: inline-block;
    margin: 0 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffe6a7;
    font-size: 20px;
    font-weight: bold;
    padding:12px 3px;
}
.navbar ul li a:hover{
    color: #f7f7f7;
    background-color: #3f0d0c;
}
h1{
    color: #432818;
    text-align: center;
    margin-top: 20px;
    padding: 12px;
    font-size: 60px;
}
.indexpara{
    color: #432818;
    margin:30px auto;
    text-align: center;
    width: 50%;
}
.btn{
    margin: 30px auto;
    text-align: center;
    display: block;
    max-width: fit-content;
    text-decoration: none;
    background-color: #6F1D1B;
    color: #ffe6a7;
    border-radius: 10px;
    padding: 10px;
}
h2{
    color: #432818;
}
.section{
    margin: 20px;
    padding: 20px;
    background-color: #fefae0;
    color:#381f0d;
    border-radius: 10px;
    border: 2px solid #6F1D1B;
    box-shadow: 1px 1px 5px;
    line-height: 1.7;
    text-align: center;
}